extends ../layout

block styles 
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block content
  #content-nav.nav
    nav
      ul
        li
          a(href='/dashboard/profile') Profile
        li
          a(href='/dashboard/events') Events
        li
          a(href='/dashboard/review') Review
        li
          a(href='/dashboard/search') Search
        li
          a(href='/logout') Logout
  #dashboard 
    block dashboard