extends ../layout

block styles 
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block content
  #content-nav.nav
    nav
      ul 
        li
          a(href='/dashboard/review/1') Flagged
        li
          a(href='/dashboard/review/2') Review
        li
          a(href='/logout') Logout
  #dashboard 
    block dashboard