extends ../layout

block styles 
  link(rel='stylesheet', href='/stylesheets/dashboard.css')

block content
  #dashnav    
    nav
      ul 
        li
          a(href='/dashboard/review/1') Flagged
      ul 
        li
          a(href='/dashboard/review/2') Review
      ul 
        li
          a(href='/logout') Logout
  #dashcontent 
    block dashcontent