extends layout

block content
  #list
    p 
      | Argonovo, Inc.
      br
      | PO Box 348
      br
      | Wellborn TX 77881
      br
      a(href='mailto:outside@argonovo.com') Contact via Email
      br
      img(src='images/phonenumber.png')