extends layout

block content
  p If you want the latest and greatest before it&rsquo;s released publicly, click the links below.</p>
  p
    a(href='https://play.google.com/apps/internaltest/4701487336277387240')
      img(src='images/google-beta.png' alt='Android Store')
    a(href='https://testflight.apple.com/join/JJ62YgBS')
      img(src='images/apple-beta.png' alt='Apple Store')