extends layout

block content
  #home
    p.
      If you have been to a wedding, concert, or a good party and wanted all
      the photos? Argonovo let’s you share photos instantly with those around you.
    p 
        img(src='http://s.argonovo.com/ss01.png' alt='Screenshot 1') 
        img(src='http://s.argonovo.com/ss02.png' alt='Screenshot 2')
        img(src='http://s.argonovo.com/ss03.png' alt='Screenshot 3')
    p 
      a(href='https://play.google.com/store/apps/details?id=com.argonovo.h')
        img(src='http://s.argonovo.com/google.png' alt='Android Store')
      a(href='https://apps.apple.com/us/app/argonovo/id1627814702')
        img(src='http://s.argonovo.com/apple.png' alt='Apple Store')