doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/scripts.js') 
    block scripts
#wrapper
  #header 
    p Argonovo
  #navigation
    nav 
      ul 
        li
          a(href='/') Home 
        li
          a(href='/') Dashboard 
        li
          a(href='/roadmap') Roadmap 
        li
          a(href='/') Help Out
  #content
    block content
  #footer
    nav 
      ul 
        li
          a(href='/') Contact 
        li
          a(href='/') Privacy Policy 
        li
          a(href='/') User Policy