doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(rel='preconnect', href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap')
    block styles
    script(src='/js/scripts.js') 
    block scripts
#wrapper
  #header
    #header-nav.nav 
      nav 
        ul 
          li
            a(href='/') Argonovo
          li
            a(href='/dashboard') Dashboard
  #content 
    block content 
  #footer
    .list.inline 
      p Contact 
      ul 
        li Argonovo
        li PO Box 348
        li Wellborn TX 77881
        li
          a(href='mailto:outside@argonovo.com') outside@argonovo.com
        li +1 (979) 356-2271
    .list.inline
      p Policies 
      ul
        li
          a(href='/privacy-policy') Privacy Policy 
        li
          a(href='/user-policy') User Policy