doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/scripts.js') 
    block scripts
#wrapper
  #header 
    p Argonovo
  #navigation
    nav 
      ul 
        li
          a(href='/') Home
        li
         a(href='/dashboard') Dashboard 
  #content
    block content
  #footer
    nav 
      ul 
        li
          a(href='/contact') Contact 
        li
          a(href='/privacy-policy') Privacy Policy 
        li
          a(href='/user-policy') User Policy
        li
          a(href='/roadmap') Roadmap 
        li
          a(href='/helpout') Help Out