doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/scripts.js') 
    block scripts
#wrapper
  #header 
    p Counterwound
  #navigation 
    p This is the Menu
  #content
    block content
  #footer
    p This is the Footer