extends layout
block scripts
  script(src='/js/process.js')
block content
  #leftcolumn 
    p This is the Left Column
  #middlecolumn    
    h1= title
    p Welcome to #{title}
  #rightcolumn 
    p This is the Right Column
