extends layout

block content
  p Upcoming 
  ul 
    li Video support
    li Backward camera support
    li Hide photos
  p Completed
  ul 
    li Save Images to phone
    li Background uploads (works when there is no internet)