#dashnav {
    float: left;
    width: 1000px;
    background: #aab3bb;
}
  
#dashcontent {
    float: left;
    width: 1000px;
}

#dashcontent p {
  margin: 40px;
  text-align: center;
}

#middlecolumn {
    float: left;
    width: 660px;
}

#leftcolumn {
  float: left;
  width: 100px;
}

#rightcolumn {
  width: 240px;
  float: left;
}

table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  margin: 5px 5px 5px 5px ;
}

th, td {
  padding: 5px;
}

th {
  text-align: left;
}

.rotate90 {  
  -webkit-transform:rotate(90deg);  
  -moz-transform: rotate(90deg);  
  -ms-transform: rotate(90deg);  
  -o-transform: rotate(90deg);  
  transform: rotate(90deg);  
}

.rotate180 {  
  -webkit-transform:rotate(180deg);  
  -moz-transform: rotate(180deg);  
  -ms-transform: rotate(180deg);  
  -o-transform: rotate(180deg);  
  transform: rotate(180deg);  
}  

.rotate270 {  
  -webkit-transform:rotate(270deg);  
  -moz-transform: rotate(270deg);  
  -ms-transform: rotate(270deg);  
  -o-transform: rotate(270deg);  
  transform: rotate(270deg);  
}

#middlebottom {
  width: 660px;
  background: #eeeeee;
  float: left;  
  margin-bottom: 10px;
}

#middlebottom pre {
  margin: 10px;
}

#middleleftcolumn, #middlemiddlecolumn, #middlerightcolumn {
  float: left;
  width: 220px;
}

#middletop p, #middleleftcolumn p, #middlemiddlecolumn p, #middlerightcolumn p {
  margin: 10px;
  text-align: center;
}