#dashnav {
    float: left;
    width: 800px;
    background: #aab3bb;
}
  
#dashcontent {
    float: left;
    width: 800px;
}

#middlecolumn {
    float: left;
    width: 500px;
  }
  
  #leftcolumn {
    width: 150px;
    float: left;
  }
  
  #rightcolumn {
    width: 150px;
    float: left;
  }