table, th, td {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  font: 18px Helvetica;
  padding:2px 5px 2px 5px;
  text-align: left;
}

#status {
  margin: 20px 0 20px 0;
}

#orientation {
  margin: 20px 0 20px 0;
}

#orientation div {
  border: solid;
  border-width: 1px;
  border-color: #d7d7d7;
}

#moderation {
  background: #eeeeee;
  display: inline-block;
  padding: 20px;
  margin: 20px 0 20px 0;
}

#moderation pre {
  text-align: left;
}

.inline {  
  padding: 0 20px 0 20px;
}

.rotate90 {  
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate180 {  
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}  

.rotate270 {  
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.visualflagred {
  border: 10px solid #ffc0c0;
}

.visualflagyellow {
  border: 10px solid #ffffc0;
}

.visualflagblue {
  border: 10px solid #c0c0ff;
}