#splash {
  background-image: url("../images/splash.jpg");
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

#objective {
  max-width: 300px;
}

#objective p {
  max-width: 300px;
  font: 22px 'DM Serif Display', Georgia, Helvetica;
  font-style: italic;
  padding-left: 20px;
}

@media only screen and (min-width: 600px) {

  #splash {
    background-size: 100%;
  }

  #objective p {
    padding-top: 25px;
    margin-left: -30px;
  }
}

#objective {
  text-align: left;
}