body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F6F6F6;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
}

#header {
  float: left;
  width: 1000px;
  background: #4E4B5C;
}

#navigation {
  float: left;
  width: 1000px;
  background: #0B93C1;
}

#content {
  float: left;
  background: #FFFFFF;
  width: 1000px;
}

#footer {
  float: left;
  width: 1000px;
  background: #0B93C1;
}