body {
  font: 14px Verdana, Arial, "Lucida Grande", Helvetica, sans-serif;
  background: #F6F6F6;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
}

#header {
  float: left;
  width: 1000px;
  background: #0B93C1;;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#header p {
  font: 28px Verdana, Arial, "Lucida Grande", Helvetica, sans-serif;
  color: white;
  text-align:center;
}

#navigation {
  float: left;
  width: 1000px;
  background: #5D6D7E
}

#content {
  float: left;
  background: #FFFFFF;
  width: 1000px;
  min-height: 600px;
}

#content p {
  padding: 0px 20px 0px 20px ;
}

#home p {
  text-align:center;
}

#home img {
  padding: 5px;
  border-radius: 20px;
}

#footer {
  float: left;
  width: 1000px;
  background: #5D6D7E;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
}

nav ul li {
  margin: 10px 30px 10px 20px;
  float: left;
  color: white
}

nav ul li a {
  color: white;
}

nav ul li a:hover, nav ul li a:focus {
  color: white;
}

a {
  text-decoration: none; /* no underline */
  color: #0B93C1;
}

a:hover, a:focus {
  text-decoration: underline;
}